body {
	font-size: 16px;
  font-family: 'Roboto', 'Open Sans', sans-serif;
}

main {
  grid-column: span 1;
  align-content: center;
  align-items: center;
}

img {
  width: auto;
  height: auto;
}

ul {
  display: table;
  margin: 0 auto;
}

h1, h2, h3, p {
  font-family: 'Roboto', 'Open Sans', sans-serif;
  text-align: center;
}
/* Desktop Views ****************************/
@media only screen and (min-width: 32.5em) {
	main {
		grid-template-columns: 1fr;
	}

	main {
		grid-column: span 1;
    align-content: center;
    align-items: center;
	}
}
header, footer {
  margin: 1rem auto;
  border: 1px solid #bbb;
  padding: .5rem;
  background-color: #eee;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  text-align: center;
}
