/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width:64rem) {

  html, body {
    height: 100vh;
    width: 100vw;
  }

  nav ul li a{
    border: none;
    padding: .5rem 1rem;
    color:#F8DC4C;
  }

  nav button {display: none;}

  nav ul#primaryNav {
    display: flex;
    margin-left: 2vw;
  }

/*----------- BODY Home --------------*/

.location {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
form {
  padding: 1rem;
}
/* ------- booking Page --------*/
.hselection {
  grid-template-columns: 1fr 1fr 1fr;
}
.wforecast {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}
/* ------- Contact Page --------*/
.temple {
  margin: 5rem 0 1% 1%;
}
.temple img { 
  width: 100%;
  height: 100%;
}

}