/* 35rem is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {
  html, body {
    height: 100vh;
    width: 100vw;
  }
  nav ul li a {
    border: none;
    border-right: 1px solid rgba(0,0,0,0.3);
    color: black;
  }
  fieldset {
    display: grid;
    grid-gap: 1rem;
    padding: .5rem;
  }
/*----------- BODY Home --------------*/  
.location {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.trip_class {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: .2rem;
}
/* ------- booking Page --------*/
.hselection {
  grid-template-columns: 1fr 1fr;
}
/* ------- Contact Page --------*/
.contact {
grid-template-columns: 1fr 1fr;
}
}