/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*----------- colors --------------*/
:root {
  --backgroundblue: #1E4881;
  --textyellow: #F8DC4C;
  --textorange: #F1994C;
}

/*----------- HEADER --------------*/
html, body {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1rem;
 }

header {
  background-color: #1E4881;
  grid-template-columns: 1fr 3fr;
	align-items: center;
  display:grid;
}

.header_logo {
  padding: 1rem;
}
.header_logo img {
	width: 250px;
	height: auto;
}
.social {
  padding: 1rem;
}
.social svg {
	width: 25px;
	height: auto;
}

/*----------- NAVIGATION --------------*/
nav {
  background-color: transparent;
}
nav button {
  margin: .2rem 2vw;
  border: none;
  font-size: 2rem;
  color: #D34E35
}
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
nav ul li a:hover {
  background-color: #D34E35;
  text-decoration: none;
}

nav ul li.active a:hover {
  background-color: #D34E35;
 
}

nav ul {display:none; padding:0;}
nav ul.open{display:block; background-color: white;}

#hamburgerBtn span:nth-child(1) {display:block;}
#hamburgerBtn span:nth-child(2) {display:none;}

#hamburgerBtn.open span:nth-child(1) {display:none;}
#hamburgerBtn.open span:nth-child(2) {display:block;}

/*----------- BODY Home --------------*/
.local_storage {
  border: var(--backgroundblue);
  display: block;
  border-style: solid;
  text-align: center;
}
form {
  width: 100%;
  padding: .6rem;
  margin: 0;
}
fieldset {
  width: 100%;

}
form label.top {
  display: block;
  padding-top: .5rem;
  color: var(--textorange);
  font-size: 1rem;
  font-weight: bold;
}
form input.submitLocation {
  border: none;
  background-color: var(--backgroundblue);
  color: white;
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  margin: 5rem 0 2rem ;
  width: 96%;
  max-width: 20rem;
}

form label.top input:required {
  border-left: red solid 6px;
}
form label.top input:required:valid {
  border-left: green solid 6px;
}

iframe {
  width: 100%;
  height: 100%;
  padding: 3rem;
}

.trip h2 {
  padding: 0.5rem;
  text-align: center;
}
.trip_class {
  display: grid;
  column-gap: 0.5rem;
  align-items: center;
}
.temple_only, .temple_wellness, .temple_foodie, .temple_nature {
  display: block;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.temple_only img{
  width: 15rem;
  height: 20rem;
}
.temple_wellness img{
  width: 20rem;
  height: 15rem;
}
.temple_foodie img{
  width: 20rem;
  height: 15rem;
}
.temple_nature img{
  width: 20rem;
  height: 15rem;
}
/*----------- FOOTER --------------*/
footer {
  display:grid;
  font-size: 0.85rem;
  padding: 20px;
  background-color: #1E4881;
  justify-content: center;
  text-align: center;
  color:#F8DC4C;
  
}

.foot_logo img {
	width: 250px;
	height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*----------- Booking --------------*/

.menu {
  text-align: center;
}
#temple_list.grid {
  margin: 0.1rem;
  text-align: center;
	align-items: center;
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

#temple_list.list {
  margin: 0.1rem;
  display:grid;
  gap: .5em;
  grid-template-columns: 1fr;
  padding-bottom: 1em;
}

#temple_list.list section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  text-align: inherit;
  gap: 3px;
  font-size: small;
}

#temple_list.list h2 {
  font-size: small;
}

section {
  margin: 0.25rem;
  padding: 0.35rem;
  background-color: #eee;
  border: 1px solid #bbb;
  align-items: center;
}
section > p {
  min-height: 60px;
}

/* ------- Contact Page --------*/

.contact {
  display:grid;
  grid-gap: 1px;
}
.temple {
  margin: .2rem 0 1% 1%;
}
.temple img { 
  width: 100%;
  height: 100%;
}
.cform {
  padding: 0.5rem 1%;
  margin-left: 1%;
  margin-right: 1%;
}

/* ------- Service & Policies --------*/
.information {
  display:grid;
  grid-gap: 1px;
  border: var(--backgroundblue);
}


