body {
	font-size: 16px;
	font-family: "Sansita", Ubuntu, sans-serif;
}
img {
  width: 100%;
  height: auto;
}

/* phone or baseline views **************************/
main {
	max-width: 767px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
	font-size: 0.8rem;
}

main section h3 {
	color: #536878;
  text-align: center;
}

main section {
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0 1rem;
	background-color: #eee;
}

main section:nth-child(2) {
	display: none;
	margin: 0.5rem;
}


/* Tablet Views ******************************/
@media only screen and (min-width: 37.5em) {
	main {
		grid-template-columns: 1fr 1fr;
	}

	main section:nth-child(2) {
		display: block;
	}

	main section:nth-child(3) {
		grid-column: span 2;
	}

	main section picture {
		display: block;
	}
	main section picture img {
		width: 100%;
		height: auto;
		border: 1px solid #bbb;
	}
}

/* Desktop Views ****************************/
@media only screen and (min-width: 60em) {
	main {
		grid-template-columns: 1fr 1fr 1fr;
	}

	main section:nth-child(3) {
		grid-column: span 1;
	}
}
header, footer {
  margin: 1rem auto;
  border: 1px solid #bbb;
  padding: .5rem;
  background-color: #eee;
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}
