@charset "UTF-8"; /* not necessary */
:root {
  --blue: rgba(51,119,170,1);
  --blue-5: rgba(51,119, 170, 0.5);
  --blue-8: rgba(51,119,170, 0.8);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	font-family: "Sansita", Ubuntu, sans-serif;
}

/* phone or baseline views **************************/
header,
footer {
	background-color: #bed;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

header,
main,
footer {
	max-width: 767px;
	margin: 0 auto;
}
h1 {
	font-size: 1.1rem;
}
h2 {
	color: #536878;
}

nav {
	background-color: #36454f;
	margin: 0 auto;
	max-width: 780px;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
}
nav ul {
	list-style-type: none;
	overflow: hidden;
}
nav ul li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
	background: linear-gradient(90deg, transparent, yellow, transparent) top /
		var(--d, 0) 10px no-repeat;
	transition: 0.5s;
}

.active {
	color: yellow;
}
main {
	display: grid;
	grid-template-columns: 1fr;
	font-size: 0.8rem;
}
main article {
	margin: 1rem;
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 1rem;
	background-color: #eee;
}

main article ul {
	margin: 1rem 0 0 1rem;
}
main picture {
	display: none;
	margin: 1rem;
}

footer p {
	padding: .5rem;
}

/* Tablet Views ******************************/
@media only screen and (min-width: 37.5em) {
	h1 {
		font-size: 1.5rem;
	}

	/* Horizontal Menu Examples */
	/* Flex *********************/
	 		nav ul { display: flex; }
		  nav ul li { flex: 1 1 auto; } 

	/* Grid *********************/
/* 	nav ul {
		display: grid;
		/*grid-template-columns: repeat(5, 1fr);
		grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
	} */

	nav a {
		font-size: 1rem;
	}

	nav a:hover {
		/* 	background-color: #bbb;
	color: #36454f; */
		--d: 75%;
	}

	main {
		grid-template-columns: 1fr 1fr;
	}
	article:nth-child(3) {
		grid-column: span 2;
	}
	main picture {
		display: block;
	}
	main picture img {
		width: 100%;
		height: auto;
		border: 1px solid #bbb;
	}
}

/* Desktop Views ****************************/
@media only screen and (min-width: 60em) {
	h1 {
		font-size: 2rem;
	}
	nav a {
		font-size: 1.1rem;
	}
	main {
		grid-template-columns: 1fr 1fr 1fr;
	}
	article:nth-child(3) {
		grid-column: span 1;
	}
}

