/* 35rem is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {


  
  nav ul li a {
    border: none;
    border-right: 1px solid rgba(0,0,0,0.3);
    color: black;
  }

 
  .hero {
      grid-column: 1/5;
      grid-row: 1/2;
     
  }
  .hero_text {
    font-size: 2.5rem;
  }
  .hero_join {
    top: 18rem; right: 4rem;
    font-size: 2.5rem;
    border-radius: 2em;
  }
  .newsrelease {
    grid-column: 1/4;
    grid-row: 2/2;}
  
  .pjoin {
    grid-column: 1/4;
    grid-row: 3/4;}
  
  .spotlight {
    grid-column: 4/5;
    grid-row: 2/4;
      }  
  
  .event {
    grid-column: 1/2;
    grid-row: 1/2;}
  
  .weather {
    grid-column: 1/2;
    grid-row: 2/3;}

/* Join Page */
.join {
  grid-template-columns: 1fr 1fr;
  background-color: white;
}
  
  } /* end medium */