/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
header {
  margin: 0 auto;
  padding: 5px 0;
	background-color: rgb(144, 141, 141);
	display: grid;
  grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	justify-content: space-between;
}

.logo {
	display: flex;
	align-items: center;
	margin-left: 1rem;
  margin-right: 1rem;
}

.logo img {
	width: 80px;
	height: auto;
}

/*
.headings {
	display: flex;
	flex-direction: column;
	margin-left: .5rem;
}
*/

.social {
  margin-left: .3rem;
	margin-right: .3rem;
  align-items: right;
  align-content: right;
}

.social svg {
	width: 25px;
	height: auto;
}

.container {
  background: none;
}

nav button {
  margin: .2rem 2vw;
  border: none;
  background: transparent;
  font-size: 2rem;
  color: #555;
}
/*
nav {
  background-color: #eee;
}
*/
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;   
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: #333;
}

nav ul li.active a {
  background-color: rgba(0,0,0,.2);
  color: #fff;
}

nav ul li a:hover {
  background-color: rgba(251, 246, 246, 0.3);
}

nav ul {display:none; padding:0;}
nav ul.open{display:block;}

#hamburgerBtn span:nth-child(1) {display:block;}
#hamburgerBtn span:nth-child(2) {display:none;}

#hamburgerBtn.open span:nth-child(1) {display:none;}
#hamburgerBtn.open span:nth-child(2) {display:block;}

h1, p {
  font-size: 1rem;
  margin: 0 2 vw;}

aside {
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0.75rem;
	background-color: #eee;
  display: block;
  text-align: center;
  grid-column: 1 / 4
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.hero {
  position: relative;
}
.hero_text {
  position: absolute;
  color:crimson;
  padding: 1rem;
  font-size: 1rem;
}

.hero_join {
  position: absolute;
  top: 8rem; right: 2rem;
  font-size: 1rem;
  background-color: rgb(71, 178, 71);
  border-radius: 1em;
}
.ph-item {
  border: 1px solid gray;
  color: gray;
  height: 100%;
  margin: 10px;
  padding: 1rem;
  }
.event {
  background-color: rgb(6, 95, 183);
}
h3 {
  color:yellow;
  text-align: center;
}

.event_image {
  display: block;
  color:#eee;
  text-align: center;

}

p {
  text-align: center;
  color: #eee;
}
.ph-spotlight {
    margin: 10px;
    border: 1px solid gray;
    padding: 1rem;  
  }

.sl1 {
    margin: 5px;
    border: solid 1px green;
    padding: 10px;   
    height: 50%;
    line-height: 30px;
}

.sl2 {
    margin: 5px;
    border: solid 1px blue;
    padding: 10px;
    height: 50%;
    line-height: 30px;
    
}

.sl3 {
  margin: 5px;
  border: solid 1px rgb(255, 0, 0);
  padding: 10px;
  height: 50%;
  line-height: 30px;
}
footer {
  margin: 10px;
  font-size: 0.85rem;
  padding: 20px;
  display: grid;
  background-color: rgb(144, 141, 141);
  justify-content: center;
 
}

.foot_logo img {
	width: 80px;
	height: auto;
}













