/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
/*----------- HEADER --------------*/
header {
  margin: 0 auto;
  padding: 5px 0;
  background-color: #47b247;
	display: grid;
  grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	justify-content: space-between;
}

.logo {
	display: flex;
	align-items: center;
	margin-left: 1rem;
  margin-right: 1rem;
}
.logo img {
	width: 80px;
	height: auto;
}
.social {
  margin-left: .3rem;
	margin-right: .3rem;
}
.social svg {
	width: 25px;
	height: auto;
}
.container {
  background: none;
}

/*----------- NAVIGATION --------------*/
nav {
  background-color: transparent;
  
}
nav button {
  margin: .2rem 2vw;
  border: none;
  font-size: 2rem;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;  
   
}
nav ul li a:hover {
  display: block;
  background-color: rgb(244, 248, 248);
  text-decoration: none;
  
}

nav ul li.active a:hover {
  background-color: rgba(245, 248, 248, 0.719);
 
}

nav ul {display:none; padding:0;}
nav ul.open{display:block;}

#hamburgerBtn span:nth-child(1) {display:block;}
#hamburgerBtn span:nth-child(2) {display:none;}

#hamburgerBtn.open span:nth-child(1) {display:none;}
#hamburgerBtn.open span:nth-child(2) {display:block;}

/*----------- BODY --------------*/
body {
  font-size: 16px;
  font-family: Verdana, sans-serif;
}

/*----------- MAIN --------------*/
h1 {
  font-size: 1rem;
  margin: 0 2 vw;
  color: #070707;
}


aside {
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0.75rem;
	background-color: #eee;
  display: block;
  text-align: center;
  grid-column: 1 / 4;
  color: #070707;
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.hero {
  position: relative;
}
.hero_text {
  position: absolute;
  color:crimson;
  padding: 1rem;
  font-size: 1rem;
}
.hero_join {
  position: absolute;
  top: 8rem; right: 2rem;
  font-size: 1rem;
  background-color: rgb(71, 178, 71);
  border-radius: 1em;
}
.ph-item {
  border: 1px solid gray;
  color: rgb(251, 249, 249);
  padding: 1rem;
  }

.event, .weather, .newsrelease, .join, .spotlight {
  background-color: rgb(6, 95, 183);
}

h3 {
  color:yellow;
  text-align: center;
  background-color:rgb(6, 95, 183); 
}
p {
  text-align: center;
}

.weather, .event, .join, .ph-spotlight {
  display: grid;
}
.event_image {
  display: block;
  text-align: center;
  grid-row: 2/2;
  grid-column: 1/2;
}
.line1 {
  grid-row: 2/2;
  grid-column: 2/3;
}
.line2 {
  grid-row: 3/3;
  grid-column: 2/3;
}
.line3 {
  grid-row: 4/4;
  grid-column: 2/3;
}
.weather_text {
  grid-row: 1/1;
  grid-column: 1/3;
  text-align:center;
}
.line1 {
  grid-row: 2/2;
  grid-column: 2/3;
}
.weather_image {
  grid-row: 2/2;
  grid-column: 1/2;
  text-align: right;
}
.weather_temperature {
  grid-row: 2/2;
  grid-column: 2/2;
  font-size: x-large;
  text-align:left;
  padding-left: 1.5rem;
}
.weather_look {
  grid-row: 3/3;
  grid-column: 2/2;
  text-align: center;
}
.weather_wind_speed {
  grid-row: 4/4;
  grid-column: 1/3;
  text-align: center;
}
.weather_wind_chill {
  grid-row: 5/5;
  grid-column: 1/3;
  text-align: center;
}
.join_image {

  grid-row: 2/2;
  grid-column: 1/2;
  text-align: center;
}
.spotlight {
    display: grid;
    border: 1px solid gray;    
    padding: 1rem;  
    text-align: center;
  }
.sl_image {
  color:#eee;
  text-align: center;
  grid-row: 2/2;
  grid-column: 1/1;
  }
.sl1 {
    border: solid 1px green;
    padding: 5px;    
    text-align: center;
    grid-row:3/4;
    grid-column: 1/1;
}

.sl2 {
    border: solid 1px blue;
    padding: 5px;
    text-align: center;
    grid-row:5/6;
    grid-column: 1/1;
}
.sl3 {
  border: solid 1px rgb(255, 0, 0);
  padding: 5px;
  text-align: center;
  grid-row:7/8;
  grid-column: 1/1;
}
/*----------- FOOTER --------------*/
footer {
  margin: 10px;
  font-size: 0.85rem;
  padding: 20px;
  display: grid;
  background-color: #47b247;
  justify-content: center;
  color: #070707;
}

.foot_logo img {
	width: 80px;
	height: auto;
}
/*---------- Discover Page ----------*/
.discover {
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr;
}
.discover_evansville {
  display:flex;
}
.home-about {
  padding: 4em 0;
  max-width: 900px;
  margin: 0 auto;
}

.discover {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px
}

.discover div {
  
  border: 1px solid #32292f;
  background-color: #ffffff;
  box-shadow: 3px 3px 10px rgb(54, 54, 54);
  padding: 10px;
  
}

.discover-title {
  padding: 30px 30px 0px 30px;
  text-align: center;
}

.stats {
  padding: 10px;
  color: white;
  background-color: #355f5f90;
  border: 1px solid black;
  box-shadow: 3px 3px 10px rgb(54, 54, 54);
}

.discover-title p {
  padding: 20px 20px 10px 20px;
}

.discover p {
  padding: 10px;
}


/*----------- BOXES BORDERS ---------------*/
.box1, .box2, .box3, .box4, .box5, .box6, .box7, h2 {
  padding: 5px 20px 10px 30px;
  background-color: rgb(55, 148, 242);
  border: transparent;
  background-color: none;
}
.pic_demographics {
  float: left;
  padding: 0 20px 20px 0;
 }
.text_demographics {
  object-fit: fill;
}
.box7 .border {
  margin-bottom: 10px;
}

.box7 .bottom {
  margin: 0px;
}
/*----------- Lazyload images ---------------*/
.box7 img {
  filter: blur(0em);
  transition: filter 0.5s;
}

.pics {
  border: 1px solid black;
  transition: filter 0.5s;
}

.box7 p {
  padding: 10px;
}

img[data-src] {
  filter: blur(0.4em);
}

.box7 .photo-gal {
  padding: 10px;
  margin: 10px 10px 20px 10px;
  text-align: center;
}













