body {
  width: 500px;
  margin: 0 auto;
}
/*
.positioned {
  position: fixed;
  top: 30px;
  left: 30px;
  background: rgba(255,84,104,.3);
  border: 2px solid rgb(246, 40, 40);
}
*/

.positioned {
  position: sticky;
  top: 30px;
  left: 30px;
  background: rgba(255,84,104,.3);
  border: 2px solid rgb(246, 40, 40);
}
