* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

main {
	margin: 0;
	border: 1px solid #bbb;
	padding: 1rem;
	width: 760px;
	background-color: #abe;
}

p {
	margin: 1rem;
}

.label {
	font-family: Arial, sans-serif;
	font-weight: 700;
}

#visits {
	color: navy;
	font-weight: bolder;
	font-size: larger;
}

.today {
	color: tomato;
}
